
# Web automation
selenium==4.31.0              # Web automation library to control browsers like Chrome or Firefox

# Testing tools
pytest~=8.3.5
allure-pytest                 # Plugin to generate Allure test reports from pytest results
pytest-xdist                  # Enables running tests in parallel using pytest

# Drivers and environment
webdriver-manager~=4.0.2
python-dotenv~=1.1.0

# Data and recording
faker==24.8.0                 # Generates fake data (e.g. names, addresses) for testing
pyscreenrec~=0.6

# Network inspection and support
selenium-wire~=5.1.0
blinker==1.4                  # Provides support for signal/event dispatching (used internally by some libraries)
setuptools==80.3.1            # Package development and distribution tool, required for many packages


allure-python-commons~=2.14.2